/* 
 * FACTION Standard - An Eleventy Theme
 */
/*
 *
 * CSS Variables
 * These are used throughout the document to simplify changes.
 * Note that text and border colours apply to numerous different elements. 
 * Pick colours carefully to ensure content is viewable.
 *
*/
:root {
    /* Background Colour */
    /* Home and Tool pages */
    --color-def-bg: black;
    /* Default: #000000 (recommended) */
    /* Splash pages */
    --color-sp-bg: black;
    /* Default: #000000 (recommended) */

    /* Main Text and Border Colours */
    --text-color-primary: white;
    /* Default: #FFFFFF (recommended) */
    --text-color-secondary: black;
    /* Default: #000000 (recommended) */
    --elem-color-primary: black;
    /* Default: #FFFFFF (recommended) */
    --elem-color-secondary: white;
    /* Default: #000000 (recommended) */

    /* Default Sizes */
    --wrapper-height: 80vh;
    --image-max-width: 320px;
    --logo-min-height: 100px;
    --logo-max-height: 375px;

    /* Fonts */
    --font-family-headers: "Saira";
    --primary-text: "Saira";
    --buttontext: "Saira";
    --homebuttontext: "Saira";
}
/* Font Import */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(assets/memjYa2wxmKQyPMrZX79wwYZQMhsyuSLiIvSdyqOvg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*
 *
 * Header, Footer and Page Body Formatting
 *
*/
/* Globals */
* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

/* Body */
/* All pages except those using template 'base-splash' */
body {
    background-color: var(--color-def-bg);
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    animation-name: welcome;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.request {
    overflow: hidden;
}

/* Body Animation */
@keyframes welcome {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* Main Header */
/* Styles the main header section in the Base template. */
.overhead {
    min-height: var(--header-height);
    place-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
}

.display .overhead {
    min-height: var(--header-height);
    text-align: center;
    margin: auto;
    width: 100%;
    overflow: hidden;
    display: inline;
}

.display-head-left {
    float: left;
    width: 50%;
    display: inline-flex;
    align-items: flex-start;
    margin: auto;
    height: 400px;
}

.display-head-left img {
    float: right;
}

.display-head-right {
    float: right;
    width: 50%;
    display: inline-flex;
    align-items: center;
    margin: auto;
    height: 400px;
    text-align: right;
}

.headerMessageText {
    display: flex;
    align-items: flex-end;
    font-size: 3em;
    font-family: var(--primary-text);
    color: white;
    text-align: center;
}

.logo {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-height: 200px;
    overflow: hidden;
    object-fit: scale-down;
}

.display .logo {
    margin: 0 auto;
    width: 80%;
    max-height: 400px;
    overflow: hidden;
    object-fit: scale-down;
}

/* Content Wrappers */

main {
    width: 80%;
    padding: 16px;
    margin: auto;
    /*backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);*/
    min-height: var(--wrapper-height);
}

.request main {
    width: 100%;
    padding: 8px;
    margin: auto;
}

.display main {
    width: 100%;
    padding: 8px;
    margin: auto;
    height: 100vh;
}

.wrapper {
    min-height: var(--wrapper-height);
    place-items: center;
    margin: auto;
    width: 100%;
    padding-top: 20px;
}

.tool {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* Page Content Block */
/* Styles the page content (Headings and paragraphs) of the 'home' and 'tool' templates. 
   See /src/_includes/layouts/home.njk and .../tool.njk.
*/
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 16px;
    border: 2px solid;
    border-radius: 20px;
    border-color: var(--elem-color-secondary);
    color: transparent;
    padding: 8px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
}

/* Footer section */
/* Embedded in the Base template */
.footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    border-top: 4px solid var(--elem-color-secondary);
    border-radius: 20px;
    color: var(--text-color-primary);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 8px;
}

/*
 *
 * Buttons and Links
 *
*/
/* Homepage Buttons */

/* Standard Buttons - Tool Pages */
.stdButton, .normButton {
    text-align: center;
    list-style-type: none;
    line-height: 2.5;
    border: 2px solid var(--elem-color-secondary);
    padding: 8px;
    border-radius: 20px;
    font-family: var(--buttontext);
    font-size: 30px;
    color: white;
    width: 40%;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-weight: 600;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.stdButton:hover, .normButton:hover {
    font-weight: normal;
    background: radial-gradient(circle, rgba(95,4,4,1) 0%, rgba(201,201,201,1) 50%, rgba(11,31,83,1) 100%);
    color: black;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

/* Inline Links */
.md-inline-url {
    font-size: 1rem;
    color: var(--text-color-primary);
    font-family: var(--primary-text);
    font-weight: 400;
    text-decoration: none;
    font-weight: bold;
}

.md-inline-url:hover {
    text-decoration: underline;
    transition: 0.1s;
}

/*
 *
 * Festify iframes
 *
*/

.festifyRequestFrame {
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 55vh;
    display: block;
    overflow: hidden;
    margin: auto;
}

.festifyTVModeFrame {
    border: none;
    border-radius: 20px;
    grid-area: queueViewer;
    background-color: black;
    height: 65vh;
    width: 90%;
    display: block;
    overflow: hidden;
    margin: auto;
}

.festifyTVModeGuestFrame {
    border: none;
    border-radius: 20px;
    grid-area: queueViewer;
    background-color: black;
    height: 75vh;
    width: 90%;
    display: block;
    overflow: hidden;
    margin: auto;
}

/*
 * 
 * Typography and Button Formatting
 * 
*/
/* Headings (<h1> through <h6> */
h1 {
    margin-top: 1rem;
    font-size: 40px;
    display: inline-flex;
    color: var(--text-color-primary);
    font-family: var(--font-family-headers);
    text-align: center;
    font-weight: 900;
    line-height: normal;
}

h2 {
    margin-top: 1rem;
    font-size: 30px;
    display: inline-flex;
    color: var(--text-color-primary);
    font-family: var(--font-family-headers);
    text-align: center;
    font-weight: 900;
    line-height: normal;
}

h3,
h4,
h5,
h6 {
    color: var(--text-color-primary);
    font-family: var(--primary-text);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

/* Paragraph Text */
p {
    margin: 0;
    line-height: 1.5 !important;
    font-size: 1.5rem;
    color: var(--text-color-primary);
    text-align: center;
    font-family: var(--primary-text);
    font-weight: 400;
}

/* Rate your experience link */
.rate-experience-link {
    font-size: 1.5rem;
    font-family: var(--primary-text);
    text-decoration: none;
    font-weight: 900;
    text-align: center;
    display: inline-block;
    width: 90%;
}

/*
 *
 * Settings for Mobile
 *
*/
@media (max-width: 1000px) {
    main {
        width: 90%;
        padding: 8px;
        margin: auto;
    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        max-height: 150px;
    }

    .desktop,
    .sitenav {
        display: none;
    }

    .stdButton {
        width: 75%;
    }
}

/*
 *
 * Request Page Orientation Changer
 *
*/
@media screen and (orientation: portrait) {
    .content-vertical {
        display: initial;
    }
    .content-horizontal {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    .content-vertical {
        display: none;
    }
    .content-horizontal {
        display: initial;
    }
}

