---
layout: layouts/base-default.njk
templateClass: tmpl-home
---

{# Please don't edit this unless you know what you're doing. #}

<div class="wrapper tool">
  <div class="content">
    <center>
      <h1>Party Admin</h1>
      <p>Using this tool, you can access the Request Manager, open the TV Display page, and find helpful information about how to make the most of your FACTION experience.</p>
      <br>
      <a href="{% FESTIFY_UNIQUE_ID %}" class="animButton" target="_BLANK">Requests Manager</a><br>
      <a href="/display" class="animButton" target="_BLANK">Display</a><br>
      <a href="/admin/help" class="animButton" target="_BLANK">Help & Feedback</a>
      <br>
      <hr>
      <br>
      <h2>Where do my guests go?</h2>
      On the <a href="/display" class="md-inline-url" target="_BLANK">Display</a> screen, a link to join along with your FACTION Party Code is shown in the top right. <strong>Your guests go here to join on their phones.</strong>
    </center>
  </div>
</div>


