<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Nate's Website" />
    <!--<link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400;600;900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/public/new-standard.css" />
    {% seo "" %}
  </head>
  <body class="default">
  <main>
    <div class="overhead" onclick="window.location.replace('/');">
      <span>
        <img class="logo" src="/public/assets/logo.png"/>
      </span>
    </div>
    {# Page or post content will appear here #}
  
    {{ content | safe }}

    <footer class="footer">
      <p class="footer-text">FACTION 19.0</p>
      <p class="footer-text">Powered by Glitch</p>
    </footer>
  </main>

  </body>
</html>