<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# Please don't edit this unless you know what you're doing. #}
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Nate's Website" />
    <link rel="stylesheet" type="text/css" href="/public/new-standard.css" />
    {% seo "" %}
  </head>
  <body class="display" scrolling="no">
  <main>
    <div class="overhead">
      <span class="display-head-left">
        <img class="logo" src="/public/assets/logo.png"/>
      </span>
      <span class="display-head-right">
        <p class="headerMessageText">
          Join at&nbsp;<strong>faction.party</strong>&emsp;&emsp;
        </p>
        <p class="headerMessageText">
          Use code:&nbsp;<strong> {% JOIN_LINK %}</strong>
        </p>
      </span>
    </div>
    {# Page or post content will appear here #}
  
    {{ content | safe }}
  </main>

  </body>
</html>