---
layout: layouts/base-default.njk
templateClass: tmpl-home
---

{# The Tool pages use this template, extending upon the Base template. #}

<div class="wrapper tool">
  <div class="content">
    <center>
      {{ content | safe }}
    </center>
  </div>
</div>


