---
layout: layouts/base-default.njk
templateClass: tmpl-home
---

{# Please don't edit this unless you know what you're doing. #}

<div class="wrapper tool">
  <div class="content">
    <center>
      {{ content | safe }}
    </center>
  </div>
</div>


